/* 
 * simple css layout
 * - wrapping flexbox for nav
 * - flexbox trick from https://stackoverflow.com/a/20352949/15472 to keep the 
 *   footer in its place
 * - a grid for the content div and sidebar
 */
 
html, body{ 
	height:100%; 
	margin:0; 
}
body {
	display: flex;
	flex-direction: column;
}


/* for debugging purposes - remove borders for a cleaner look */
div, nav, footer {
	border: 1px solid gray;
	margin: 10px;
}

/* setup nav & children */
nav {	
	display: flex;
	align-items: center;
	justify-content: flex-start;
	flex-wrap: wrap;
}
nav>*{
	margin: 5px;
}
.sitename {
	font-size: 240%;
	font-weight: bold;
}
.logo {
	background-image: url(../img/logo.png);
	width: 64px;
	height: 64px;
}
.logx {
	margin-left: auto;
}

/* setup main container */

div#sidebar-left {
	padding: 10px;
	float: left;
	width: 170px;
	height: 400px;
	background-color: #dddddd;
}



div.container {
	display: flex;
	flex-wrap: wrap-reverse;
}
div.main {
	flex: auto;
}
div.sidebar {
	flex: none;
}

/* setup footer */
footer {
  margin-top:auto; 
}
footer img {
	vertical-align: middle;
}

.stable {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 80%;
}

.std, .sth {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}

.str:nth-child(even) {
  background-color: #dddddd;
}


.button1 {
  background-color: #4CAF50; /* Green */
  border: outset;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
}

.button2 {
  background-color: #3399FF; /* Dark red */
  border: outset;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
}

.button3 {
  background-color: #CC0000; /* Green */
  border: outset;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
}