<!DOCTYPE html>
<html 
	xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head th:replace="fragments/head.html :: header">
	<meta charset="utf-8">
	<title>Title goes here</title>
	<link rel="stylesheet" th:href="@{/css/main.css}" href="../static/css/main.css" type="text/css"/>
</head>
<body>
	<nav th:replace="fragments/nav.html :: nav">
		Nav goes here
	</nav>
	
	<img id="i"/>
	
	<div class="container">
	 <div th:replace="fragments/left.html :: left">
			menu de paginas
		</div>
	<div class="main">
	
		<div class="starter-template">
			<input type="hidden" id="chate" th:value="${chatId}"/>
			<input type="hidden" id="usuario" th:value="${yo}"/>
			<h1>Chat con : <a th:href="@{/usuario/{id}(id=${tu.id})}" th:text = "|${tu.login}|"></a></h1>
			
		
			<textarea readonly id="recibido" cols="80" rows="10"></textarea>

			
			<input id="texto" size="80" 
				name="texto"
				placeholder="escribe un mensage y pulsa enter para enviarlo"/>
				
		</div>
		
		<div>
			<td class = "std" th:if="${cond}"><button class="okmatic" th:data-target="${chatId}" type="button" onclick="window.location='listachats';" >Aceptar trabajo</button></td>
			
		</div>

	</div>
	</div>
	
	<footer th:replace="fragments/footer.html :: footer">
		Footer goes here
	</footer>
	<!--+ usuario.value+ ': '  -->
	<script>
	window.addEventListener('load', () => {
		const origen = document.getElementById("texto");
		const destino = document.getElementById("recibido");
		const usuario = document.getElementById("usuario");
		
		
		ws.receive = (t) => { // Lo que recibo del otro tío.
			destino.value += '\n'+ t;		
		}	
		const chat = document.getElementById("chate").value;
		fetch(config.apiUrl + chat)
			.then((r) => r.text())
			.then((data) => destino.value = data); //lo que recibo de mi mismo.
		
		function envia(e) {
			console.log("enviando ", origen.value, e);
			e.preventDefault();
			
			const headers = {
				"Content-Type": "application/json",
				"X-CSRF-TOKEN": config.csrf.value
			};

			fetch(config.apiUrl + chat, {
				method: 'POST',
				headers: headers,
				body: JSON.stringify({texto: origen.value})
			}).then(response => console.log(response.body));
			return false;			
		}
		origen.onkeydown = (e) => { 
			if (e.key === 'Enter') {
				envia(e);
				origen.value = '';
			}
		};
	});
	
	document.querySelectorAll(".okmatic").forEach((e) => instalaOkador(e))

	function instalaOkador(e) {
	   console.log(e);
	   e.onclick = () => okDeVerdad(e);   
	}
    
    function okDeVerdad(e) {
        const okado = e.dataset.target;
        const chat = document.getElementById("chate").value;
        console.log("okando", e.dataset.target);
       
   		const headers = {
   			"Content-Type": "application/json",
   			"X-CSRF-TOKEN": config.csrf.value
   		};
       
        fetch(config.exaltarUrl + okado, {
			method: 'POST',
			headers: headers,
		}).then(response => console.log("oferta aceptada"));
        
        fetch(config.apiUrl + 'fin/' + chat, {
				method: 'POST',
				headers: headers,
			}).then(response => console.log("acabamos la oferta"));
		return false;       
    }
	</script>
</body>
</html>
