<!DOCTYPE html>
<html 
	xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head th:replace="fragments/head.html :: header">
	<meta charset="utf-8">
	<title>Title goes here</title>
	<link rel="stylesheet" th:href="@{/css/main.css}" href="../static/css/main.css" type="text/css"/>
</head>
<body>


	<nav th:replace="fragments/nav.html :: nav">
		Nav goes here
	</nav>
	<div>
		<div th:replace="fragments/left.html :: left">
			menu de paginas
		</div>
		
		<h1 th:text="#{admin.welcome}">Ojo solo admines</h1>
			
		<h4>Configuración</h4>
		<!--En general, tanto para los anuncio que yo hago, como para las que busco por si quiero cuidar yo,
		haría una pag muy parecida donde te deje filtrar por algún campo y el resto de la pag sea solo ver los resultados.
		En el caso de que esté viendo los anuncios creadas por mi, cada solicitud tendra la opción de hablar con quien la haya aceptado
		y habrá un boton para crear una nueva.
		En el caso de que vea anuncios de otras personas, cada solicitud tendra un boton para "aceptarla" lo que abriria un chat con el propietario-->
		<form action="" method="POST">
			<fieldset>
				<div class="grupo-control">
					<label>Trabajo:</label> <select class="control" name="ofertaId">
						<option th:each="o: ${conectado.ofrecidas}" th:value=${o.id} th:text=${o.descripcion} >Trabajo 1</option>
					</select>
				</div>
				<div class="grupo-control"><label>Razon de la incidencia:</label> <input class="control" type="text" name="razonInci" /><br /></div>	
				<div class="grupo-control"><button type="submit" name="registro">Registrar</button></div>
				<input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}" />	
			</fieldset>
		</form>
		
		<ul>
			<li>Directorio local para archivos de usuario: <span th:text="${basePath}">tal</span>
			<!--<li>Perfiles activos: <span th:text="${activeProfiles[0]}">tal</span>-->
		</ul>
	</div>
</body>
</html>
