<!DOCTYPE html>
<html 
	xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head th:replace="fragments/head.html :: header">
	<meta charset="utf-8">
	<title>Title goes here</title>
	<link rel="stylesheet" th:href="@{/css/main.css}" href="../static/css/main.css" type="text/css"/>
</head>
<body>


	<nav th:replace="fragments/nav.html :: nav">
		Nav goes here
	</nav>
	
	<div>
	
		<div th:replace="fragments/left.html :: left">
			menu de paginas
		</div>
		
		<h1 th:text="#{index.welcome}">Bienvenido a Interpet</h1>
			
		<h4>¿Te vas de viaje? ¿Estas enfermo y no puedes salir de la cama? ¿Te falta tiempo?</h4>
		<h4>No te preocupes, sea cual sea tu problema, puedes encontrar a una persona de la comunidad Interpet que cuide de tu mascota.</h4>
		<ul>
			<li>Directorio local para archivos de usuario: <span th:text="${basePath}">tal</span>
			
		</ul>
		
	</div>
</body>
</html>

