<!DOCTYPE html>
<html 
	xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head><th:block th:replace="fragments/head.html :: header"/>
	<title>Perfil</title>
	<script src="js/funciones.js"></script>
	<script>
		window.addEventListener('load', botonDialogoCreacionMascota);
	</script>
</head>
<body>

	<nav th:replace="fragments/nav.html :: nav">
		Nav goes here
	</nav>
	<div id="contenido">
	
		<div th:replace="fragments/left.html :: left">
			menu de paginas
		</div>
		
		<h1 th:text = "|Nombre de mascota: ${mas.nombre}|">Registro de usuario</h1>

		
		<fieldset>
			<div>
				<label th:text = "|Nombre de mascota: ${mas.nombre}|"></label>   
				 <!-- creo que esto es el nombre de usuario de forma dinamica sec:authentication="name"-->
			</div>
			<div>
				<label th:text = "|Especie: ${mas.especie}|">Rol: Rol </label> 
			</div>
			<div>
				<label th:text = "|Raza: ${mas.raza}|">Rol: Rol </label> 
			</div>
			<div>
				<label>Propietario: <a th:href="@{/usuario/{id}(id=${mas.propietario.id})}" th:text="${mas.propietario.login}">UnId</a></label> 
			</div>
		</fieldset>

</body>
</html>
