<!DOCTYPE html>
<html 
	xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head><th:block th:replace="fragments/head.html :: header"/>
</head> 
<body>

	<nav th:replace="fragments/nav.html :: nav">
		Nav goes here
	</nav>
	<div id="contenido">
	
		<div th:replace="fragments/left.html :: left">
			menu de paginas
		</div>
		<h1 th:text = "|Trabajo: ${o.nombre}|">Nombre de Trabajo</h1>
		<fieldset>
			<h3>Descripción</h3>
			<label th:text = "|${o.descripcion}|">Blablabla Blablabla Blablabla Blablabla Blablabla BlablablaBlablabla Blablabla BlablablaBlablabla Blablabla</label>
		</fieldset>
		
		<fieldset>
			<div>
				<label>Contratante: <a th:href="@{/usuario/{id}(id=${o.solicitante.id})}" th:text = "|${o.solicitante.login}|">Usuario</a></label>   
			</div>
			<div>
				<h3>Mascota</h3>
			</div>
			<div><label th:text = "|Nombre: ${o.mascota.nombre}|">Nombre: Mascota </label></div>
			<div><label th:text = "|Especie: ${o.mascota.especie}|">Especie: Especie</label> </div>
			<div><label th:text = "|Raza: ${o.mascota.raza}|">Raza: Raza</label> </div>
			<div><label th:text = "|Descripción: ${o.mascota.descripcion}|">Descripcion: descripcion</label> </div>
		</fieldset>
		<fieldset>
			
			<div>
				<h3>Detalles</h3>
			</div>
			<div><label th:text = "|Recompensa: ${o.precio}|">Recompensa: Oro </label></div>
			<div><label th:text = "|Zona: ${o.zona}|">Zona: neutral</label> </div>
			<div><label th:text = "|Hora de inicio: ${o.inicio}|">Hora inicio: 0</label> </div>
			<div><label th:text = "|Hora de finalización: ${o.fin}|">Hora finaliacion: 100</label> </div>
		</fieldset>
		<div>
		<td class = "std" th:if="${#authorization.expression('hasRole(''ROLE_USER'') OR hasRole(''ROLE_ADMIN'')')}"><form th:action="@{/ofertas/{idOferta} (idOferta =${o.id})}" method="POST"><button type="submit" th:text="chat">UnId</button></form></td>
		</div>
 </div>		
	

	</div>

</body>
</html>
