<!DOCTYPE html>
<html 
	xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head th:replace="fragments/head.html :: header">
	<meta charset="utf-8">
	<title>Title goes here</title>
	<link rel="stylesheet" th:href="@{/css/main.css}" href="../static/css/main.css" type="text/css"/>
</head>
<body>


	<nav th:replace="fragments/nav.html :: nav">
		Nav goes here
	</nav>
	<div>
		<div th:replace="fragments/left.html :: left">
			menu de paginas
		</div>
		
		
		<h2>Ofertas</h2>
		
	<table class = "stable">
    <thead>
        <tr class = "str">
        	<th class = "sth"> Trabajo </th>
            <th class = "sth"> Mascota </th>
            <th class = "sth"> Contratante </th>
            <th class = "sth"> Zona </th>
            <th class = "sth"> Hora de inicio </th>
            <th class = "sth"> Hora de fin </th>
            <th class = "sth"> Sueldo </th>
            <th class = "sth" th:if="${#authorization.expression('hasRole(''ROLE_USER'') OR hasRole(''ROLE_ADMIN'')')}"> Enlace </th>
            
        </tr>
    </thead>
    <tbody>

        <tr class = "str" th:each="o: ${ofertas}">
        	<td class = "std">
        		<span th:if="${#authorization.expression('hasRole(''ROLE_USER'') OR hasRole(''ROLE_ADMIN'')')}"> <a th:href="@{/oferta/{id}(id=${o.id})}" th:text=${o.nombre}>UnId</a></span> 
        		<span th:unless="${#authorization.expression('hasRole(''ROLE_USER'') OR hasRole(''ROLE_ADMIN'')')}" th:text="${o.nombre}"> UnId sin Sesion</span>	
        	</td>
        	
        	<td class = "std"> 
        		<span th:if="${#authorization.expression('hasRole(''ROLE_USER'') OR hasRole(''ROLE_ADMIN'')')}"> <a th:href="@{/mascota/{id}(id=${o.mascota.id})}" th:text=${o.mascota.nombre}>UnId</a></span>
        		<span th:unless="${#authorization.expression('hasRole(''ROLE_USER'') OR hasRole(''ROLE_ADMIN'')')}" th:text=${o.mascota.nombre}>UnId</span>
        	</td>
        	<td class = "std"> 
        		<span th:if="${#authorization.expression('hasRole(''ROLE_USER'') OR hasRole(''ROLE_ADMIN'')')}"><a th:href="@{/usuario/{id}(id=${o.solicitante.id})}" th:text=${o.solicitante.login}>UnId</a></span>
        		<span th:unless="${#authorization.expression('hasRole(''ROLE_USER'') OR hasRole(''ROLE_ADMIN'')')}" th:text=${o.solicitante.login}>UnId</span>
        	</td>
        	<td class = "std" th:text=${o.zona}>UnId</td>
         	<td class = "std" th:text="${application.dateFormatter.format(o.inicio)}">UnId</td>
         	<td class = "std" th:text="${application.dateFormatter.format(o.fin)}">UnId</td>
        	<td class = "std" th:text=${o.precio}>UnId</td>
        	<td class = "std" th:if="${#authorization.expression('hasRole(''ROLE_USER'') OR hasRole(''ROLE_ADMIN'')')}"><form th:action="@{/ofertas/{idOferta} (idOferta =${o.id})}" method="POST"><button type="submit" th:text="chat">UnId</button></form></td>
           
        </tr>
    </tbody>
</table>
	</div>
</body>
</html>
