<!DOCTYPE html>
<html 
	xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head><th:block th:replace="fragments/head.html :: header"/>
	<title>Perfil</title>
	<script src="js/funciones.js"></script>
	<script>
		window.addEventListener('load', botonDialogoCreacionMascota);
	</script>
</head>
<body>

	<nav th:replace="fragments/nav.html :: nav">
		Nav goes here
	</nav>
	<div id="contenido">
	
		<div th:replace="fragments/left.html :: left">
			menu de paginas
		</div>
		
		<h1>Registro de usuario</h1>

		
		<fieldset>
			<div>
				<label th:text = "|Nombre de usuario: ${conectado.login}|"></label>   
			</div>
			<div>
				<label th:text = "|Rol de usuario: ${conectado.roles}|">Rol: Rol </label> 
			</div>
			<div th:unless="${valoracion[0]}">(Todavía no lo ha valorado nadie)</div>
			<div th:if="${valoracion[0]}" th:text= "|Valoración: ${valoracion[0]}"> </div>
			
		</fieldset>
		
		<table class ="stable"> 
			<thead>
		        <tr class = "str">
		            <th class = "sth"> Nombre </th>
		            <th class = "sth"> Especie </th>
		            <th class = "sth"> Raza </th>
		            <th class = "sth"> Descripción </th>		            
		        </tr>
		    </thead>
			<tr class = "str" th:each="o: ${conectado.mascotas}">
	        	<td class = "std" th:text=${o.nombre}>UnNombre</td>
	        	<td class = "std" th:text=${o.especie}>UnId</td>
	        	<td class = "std" th:text=${o.raza}>UnId</td>
	        	<td class = "std" th:text=${o.descripcion}>UnId</td> 
	        </tr>
		</table>
		<button id="muestraFormularioCrearMascota">Mostar formulario para añadir mascota</button>
		<form id="formularioCrearMascota" th:action="@{/crearMascota}" method="POST">
			<fieldset>
				<div class="grupo-control"><label>Nombre de la mascota:</label> <input class="control" type="text" name="nombre" /><br /></div>
				<div class="grupo-control">
					<label>Especie de la mascota:</label> <input class="control" type="text" name="especie" />
				</div>
				<div class="grupo-control">
					<label>Raza de la mascota:</label> <input class="control" type="text" name="raza" />
				</div>
				<div class="grupo-control">
					<label>Descripción de la mascota:</label> <input class="control" type="text" name="descripcion" />
				</div>
				<div class="grupo-control"><button type="submit" name="registro">Añadir</button></div>		
				<input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}" />			
			</fieldset>
		</form>
		<h2>Trabajos</h2>
		
		<!-- Añadir filtrado -->

	<table class = "stable">
	  <tr class = "str">
	    <th class = "sth">Trabajo</th>
	    <th class = "sth">Dueño</th>
	    <th class = "sth">Mascota</th>
	    <th class = "sth">Hora inicial</th>
	    <th class = "sth">Hora final</th>
	    <th class = "std">Precio</td>
	    <th class = "std">Descripción</td>
	  </tr>
 <tr class = "str" th:each="o: ${trabajos}">
        	<td class = "std" th:text=${o.nombre}>UnId</td>
        	<td class = "std"> <a th:href="@{/usuario/{id}(id=${o.solicitante.id})}" th:text=${o.solicitante.login}>UnId</a></td>
        	<td class = "std"> <a th:href="@{/mascota/{id}(id=${o.mascota.id})}" th:text=${o.mascota.nombre}>UnId</td>
        	<td class = "std" th:text="${application.dateFormatter.format(o.inicio)}">UnId</td>
        	<td class = "std" th:text="${application.dateFormatter.format(o.fin)}">UnId</td>
        	<td class = "std" th:text=${o.precio}>UnId</td>
        	<td class = "std" th:text=${o.descripcion}>UnId</td> <!-- Meter el enlace al chat... -->
           </tr>
	  </table>
	  
	  <h2>Valoraciones</h2>
	  
	  <table class = "stable">
	  <tr class = "str">
	    <th class = "sth">Usuario</th>
	    <th class = "sth">Trabajo</th>
	    <th class = "sth">Puntuación</th>
	    <th class = "sth">Descripcion</th>

	  </tr>
 		<tr class = "str" th:each="z: ${vars}">
        	<td class = "std"> <a th:href="@{/usuario/{id}(id=${z.valorador.id})}" th:text=${z.valorador.login}>UnId</a></td>
        	<td class = "std"> <a th:href="@{/oferta/{id}(id=${z.oferta.id})}" th:text=${z.oferta.nombre}>UnId</a></td>
        	<td class = "std"> <a th:text=${z.puntuacion}>UnId</a></td>
        	<td class = "std" th:text=${z.descripcion}>UnId</td> <!-- Meter el enlace al chat... -->
           </tr>
	  </table>
	  
	</div>

</body>
</html>
