<!DOCTYPE html>
<html 
	xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
	<th:block th:replace="fragments/head.html :: header"/>
	<title>Perfil</title>
	<script src="js/funciones.js"></script>
	<script>
		window.addEventListener('load', botonDialogoCreacionMascota);
	</script>
</head>
<body>

	<nav th:replace="fragments/nav.html :: nav">
		Nav goes here
	</nav>
	<div id="contenido">
	
		<div th:replace="fragments/left.html :: left">
			menu de paginas
		</div>
		
		<h1 th:text = "|Nombre de usuario: ${conectado.login}|">Registro de usuario</h1>

		
		<fieldset>
			<div>
				<label th:text = "|Nombre de usuario: ${conectado.login}|"></label>   
				 <!-- creo que esto es el nombre de usuario de forma dinamica sec:authentication="name"-->
			</div>
			<div>
				<label th:text = "|Rol de usuario: ${conectado.roles}|">Rol: Rol </label> 
			</div>
			<div th:unless="${valoracion[0]}">(Todavía no lo ha valorado nadie)</div>
			<div th:if="${valoracion[0]}" th:text= "|Valoración: ${valoracion[0]}"> </div>
			
		</fieldset>
		
		<table class ="stable"> <!--Lo suyo luego, es crear la tabla con los datos de las mascotas del propietario-->
			<thead>
		        <tr class = "str">
		            <th class = "sth"> Nombre </th>
		            <th class = "sth"> Especie </th>
		            <th class = "sth"> Raza </th>
		            <th class = "sth"> Descripción </th>		            
		        </tr>
		    </thead>
			<tr class = "str" th:each="o: ${conectado.mascotas}">
	        	<td class = "std" th:text=${o.nombre}>UnNombre</td>
	        	<td class = "std" th:text=${o.especie}>UnId</td>
	        	<td class = "std" th:text=${o.raza}>UnId</td>
	        	<td class = "std" th:text=${o.descripcion}>UnId</td>
	        	<!-- Meter el enlace al chat... -->    
	        </tr>
		</table>

	</div>

</body>
</html>
