<!DOCTYPE html>
<html 
	xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head th:replace="fragments/head.html :: header">
	<meta charset="utf-8">
	<title>Title goes here</title>
	<link rel="stylesheet" th:href="@{/css/main.css}" href="../static/css/main.css" type="text/css"/>
</head>
<body>


	<nav th:replace="fragments/nav.html :: nav">
		Nav goes here
	</nav>
	<div>
		<div th:replace="fragments/left.html :: left">
			menu de paginas
		</div>
		
		
		<h2>Valore su experiencia</h2>
		
	 <table class = "stable">
    <thead>
        <tr class = "str">
        	<th class = "sth"> Trabajo </th>
            <th class = "sth"> Mascota </th>
            <th class = "sth"> Contratante </th>
            <th class = "sth"> Elegido </th>
            <th class = "sth"> Hora de inicio </th>
            <th class = "sth"> Hora de fin </th>
            <th class = "sth"> Sueldo </th>
            <th class = "sth"> Valorar </th>
            
        </tr>
    </thead>
    <tbody>
        <tr class = "str" th:each="o: ${valorar}">
        	<td class = "std" th:text=${o.nombre}>UnId</td>
        	<td class = "std"> <a th:href="@{/mascota/{id}(id=${o.mascota.id})}" th:text=${o.mascota.nombre}>UnId</a></td>
        	<td class = "std"> <a th:href="@{/usuario/{id}(id=${o.solicitante.id})}" th:text=${o.solicitante.login}>UnId</a></td>
        	<td class = "std"> <a th:href="@{/usuario/{id}(id=${o.elegido.id})}" th:text=${o.elegido.login}>UnId</a></td>
        	<td class = "std" th:text="${application.dateFormatter.format(o.inicio)}">UnId</td>
        	<td class = "std" th:text="${application.dateFormatter.format(o.fin)}">UnId</td>
        	<td class = "std" th:text=${o.precio}>UnId</td>
			<td class = "std"> <a th:href="@{/valorando/{id}(id=${o.id})}" >Valorar</a></td>
           
        </tr>
    </tbody>
</table>
	</div>
</body>
</html>
